/.venv
/Data
/Research/nepse_featured_data.csv

/Research/models

STW7085CEM Advanced Machine Learning March Intake 2026 Coursework CW (Regular)-2f53909f-350c-4af4-9550-eed901a65ce8.pdf

texput.log
what_we_do_here.md
/Report


